*{
    margin: 0;
}

body{
    background-color: rgb(2, 1, 1);
    background-image: url("https://t4.ftcdn.net/jpg/04/45/28/31/360_F_445283148_29ffw9Oyv8MPBSfDpzZR3rpIGTXWaDYV.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100vw 80vh;

}

#id{
    display: flex;
    justify-content: start;
}

.cursor{
    /* controla o scoll do elemento */
    overflow: scroll;
    height: 400px;
    width: 400px;
}

.box{
    /* define a largura */
    width: 33vw;
    /* define a altura */
    height: 30vw;
    /* Define o espaço interno */
    padding: 1vw;
    /* Define a borda */
    border: 5px solid rgb(255, 255, 255);
    margin-right: auto;
    margin-top: 20%;
    

}

.texto{
    /* alterá a cor do texto */
    color: rgb(255, 255, 255);
    /* altera o tamanho do texto */
    font-size: 20px;
    /* altera a posição dp texto horizontalmente */
    text-align: left;
    /* Define a fonte do texto */
    font-family: impact;
    /* defone o peso do texto */
    font-weight: 100;
    text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
}

.imagem{
    width: 300px;
    height: 300px;
    border: 6px solid rgb(245, 245, 245);
}

.position{
    /* A forma de posicionamento */
    display: flex;
    position: absolute;
    top: 8%;
    left: 6%;
    
}
.itemName{
    margin-right: 1vw;
    position: absolute;
    left: 60%;
}

.descritionName{
    margin-right: 1vw;
    position: absolute;
    left: 1%;
}

.h1{
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
    position: absolute;
    left: 30%;
    margin-top: 1%;
}
