*{
    margin: 0;
}

body{
    background-color: rgb(2, 1, 1);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100vw 60vh;

}

#id{
    display: flex;
    justify-content: start;
}

.cursor{
    /* controla o scoll do elemento */
    overflow: scroll;
    height: 400px;
    width: 400px;
}

.box{
    /* define a largura */
    width: 200px;
    /* define a altura */
    height: 200px;
    /* Define o espaço externo - margem */
    margin: 10px;
    /* Define o espaço interno */
    padding: 10px;
    /* Define a borda */
    border: 1px solid rgb(255, 255, 255);
}

.texto{
    /* alterá a cor do texto */
    color: rgb(255, 255, 255);
    /* altera o tamanho do texto */
    font-size: large;
    /* altera a posição dp texto horizontalmente */
    text-align: left;
    /* Define a fonte do texto */
    font-family: impact;
    /* defone o peso do texto */
    font-weight: 100;
}

.imagem{
    width: 300px;
    height: 300px;
    border: 6px solid rgb(245, 245, 245);
}

.position{
    /* A forma de posicionamento */
    display: flex;
    /* Psocionar horizontalmente */
    justify-content: space-around;
    transform: translate(0);
    object-fit: cover;
}

.descritionName{
     /* A forma de posicionamento */
     display: flex;
     /* Posicionar venticalmente */
     align-items: top;
     /* Psocionar horizontalmente */
     justify-content: left;   
}

