.box{
    /* define a largura */
    width: 200px;
    /* define a altura */
    height: 200px;
    /* Define o espaço externo - margem */
    margin: 10px;
    /* Define o espaço interno */
    padding: 10px;
    /* Define a borda */
    border: 1px solid black;
}