/* seletor de todos os elementos */
    *{
        margin: 0;
    }

/* Seletor de Elemento */
h3{
    color: blueviolet;
    font-weight: 100; 
}

/* Seletor de classe */
.texto{
    /* alterá a cor do texto */
    color: brown;
    /* altera o tamanho do texto */
    font-size: large;
    /* altera a posição dp texto horizontalmente */
    text-align: center;
    /* Define a fonte do texto */
    font-family: impact;
    /* defone o peso do texto */
    font-weight: 100;
    /* altera a decoração do texto */
    text-decoration: underline;
}

    /* Seletor de Id */
    #texto{
        color: red;
        font-size: medium;
        text-align: end;
    }

    .box{
        /* define a largura */
        width: 200px;
        /* define a altura */
        height: 200px;
        /* Define o espaço externo - margem */
        margin: 10px;
        /* Define o espaço interno */
        padding: 10px;
        /* Define a borda */
        border: 1px solid black;
    }

    .position{
        /* A forma de posicionamento */
        display: flex;
        /* Posicionar venticalmente */
        align-items: center;
        /* Psocionar horizontalmente */
        justify-content: center;        
    }

    .position2{
        position: absolute;
        top: 10px;
        right: 10px;
    }